<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
  xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
  <Bundle
    Name="Pi-67 Desktop"
    Manufacturer="bigKING67"
    Version="0.1.0.0"
    UpgradeCode="4541FBC5-3C98-43D8-943F-E6818B9B7E0C">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        Theme="hyperlinkLicense"
        LicenseUrl=""
        SuppressOptionsUI="yes" />
    </BootstrapperApplication>

    <netfx:DotNetCompatibilityCheck
      Id="DotNetDesktop10X64"
      Property="DOTNET_DESKTOP_10_X64"
      RuntimeType="desktop"
      Platform="x64"
      Version="10.0.0"
      RollForward="minor" />

    <Chain>
      <ExePackage
        Id="DotNetDesktopRuntime10X64"
        SourceFile="$(var.DotNetDesktopRuntimeInstaller)"
        InstallArguments="/install /quiet /norestart"
        RepairArguments="/repair /quiet /norestart"
        UninstallArguments="/uninstall /quiet /norestart"
        DetectCondition="DOTNET_DESKTOP_10_X64"
        Permanent="yes"
        Vital="yes" />
      <ExePackage
        Id="WindowsAppRuntime23X64"
        SourceFile="$(var.RuntimeBootstrapExe)"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes">
        <Payload
          SourceFile="$(var.WindowsAppRuntimeDir)\Microsoft.WindowsAppRuntime.2.msix"
          Name="WinAppRuntime\Microsoft.WindowsAppRuntime.2.msix" />
        <Payload
          SourceFile="$(var.WindowsAppRuntimeDir)\Microsoft.WindowsAppRuntime.Main.2.msix"
          Name="WinAppRuntime\Microsoft.WindowsAppRuntime.Main.2.msix" />
        <Payload
          SourceFile="$(var.WindowsAppRuntimeDir)\Microsoft.WindowsAppRuntime.Singleton.2.msix"
          Name="WinAppRuntime\Microsoft.WindowsAppRuntime.Singleton.2.msix" />
        <Payload
          SourceFile="$(var.WindowsAppRuntimeDir)\Microsoft.WindowsAppRuntime.DDLM.2.msix"
          Name="WinAppRuntime\Microsoft.WindowsAppRuntime.DDLM.2.msix" />
      </ExePackage>
      <MsiPackage
        Id="Pi67DesktopMsi"
        SourceFile="$(var.MsiPath)"
        DisplayInternalUI="no"
        Visible="no"
        Vital="yes" />
    </Chain>
  </Bundle>
</Wix>
